.highlight-name{
    color: orange;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 30px;
    font-weight: 700;
    margin: 50px 110px 50px 50px;
}
.h2-color{
    color: tomato;
}
.h2-color-2{
    color: purple;
}

.half-width{
    width: 30%;
    float: left;
    margin: 10% 10% 0% 10%;
    height: 450px;
    
  
    
   }
.half-width img{
    width: 100%;
    
  
    
}


.top-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.middle-half-width{
    width: 25%;
    float: left;
    padding: 3%;
    margin-left: 2%;
    border-radius: 15px;
    height: 60%;
    background-color: white;


}
.middle-half-width img{
    width: 100%;
}
.divide-section{
    clear:both;
}
.working-project{
    box-shadow: 10px 10px 40px grey;
}
.project-h3-color{
    color:indigo;
}
.project-position{
   height: 500px;
   background-color:whitesmoke;
   text-align: center;
   padding: 2% 15% 5% 15%;
   margin-top: 7%;
  

 }
 .background{
   background-image: url(images/Group_33094_1.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 5% 22% 5% 22%;
   height: 180px;
 
   border-radius: 20px;
  
  
     
    
 }
 .work-color{
     color: white;
     font-weight: 700;
     font-size: 30px;

    }
    .last-button{
        padding-top: 10px;
    }